name: Publish Package

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    name: "Publish library"
    strategy:
      matrix:
        python-version: ["3.8"]

    steps:
      - name: Check out
        uses: actions/checkout@v3
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          fetch-depth: 0

      - name: Install poetry
        run: |
          pipx install poetry
          poetry config installer.modern-installation false
          poetry config virtualenvs.in-project true

      - name: Setup Python Env ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: pip install dunamai

      - name: Build package
        run: |
          VERSION=$(dunamai from any --no-metadata --style pep440)
          poetry version $VERSION
          poetry build

      - name: Release to PyPI
        run: |
          poetry publish -u __token__ -p ${{ secrets.PYPI_API_TOKEN }} || \
            echo 'Version exists'